<section class="content" style="padding-top:0px">
	<h3 class="shouye">
	  	<span class="glyphicon glyphicon-home"></span> 
		您当前位置：
		<span style="color:#22BEEF;">任务分解单</span>
	</h3>
	<!--查询列表部分-->
	<div class="content_list">
		<div class="row">
			<div class="tab_data" style="">
				<p>
					<img src="dist/img/qry.png" style="margin-right: 5px;position: relative;bottom: 2px;"/>
					<b style="font-size:15px;">查询</b>
				</p>
				<div class="tab_body" style="overflow: hidden;text-align: center;">
					<div class="col-xs-4 col-md-4 col-lg-4 mb10">
						<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
							<label class="pt6">
								序号：
							</label>
						</div>
						<input id="xNum" class="col-xs-8 col-md-8 col-lg-8  inputSty"  type="text"  placeholder="请输入序号"  />
					</div>
					<div class="col-xs-4 col-md-4 col-lg-4 mb10">
						<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
							<label class="pt6">
								制号：
							</label>
						</div>
						<input id="zNum" class="col-xs-8 col-md-8 col-lg-8  inputSty"  type="text"  placeholder="请输入制号" />
					</div>
					<div class="col-xs-4 col-md-4 col-lg-4 mb10">
						<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
							<label class="pt6">
								投产分类：
							</label>
						</div>
						<!--<input id="tctype" class="col-xs-8 col-md-8 col-lg-8  inputSty"  type="text"  placeholder="请输入投产分类"/>-->
						<div class="col-xs-8 col-md-8 col-lg-8 p0 tl">
			               <select class="form-control select2" id="tctype" style="width:100%;">
			               		<option value="" selected="selected">请选择</option>
			               		<option value="00">投产分类I</option>
			               		<option value="01">投产分类II</option>
			               </select>
			          	</div>
					</div>
					
					<div class="col-xs-4 col-md-4 col-lg-4 mb10">
						<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
							<label class="pt6">
								任务编号：
							</label>
						</div>
						<input id="ruleId" class="col-xs-8 col-md-8 col-lg-8  inputSty"  type="text"  placeholder="请输入任务编号"/>
					</div>
					<div class=" col-xs-12 col-md-12 col-lg-12" >
						<button class="btn btn-info    btnqry"    id='queryBtn'>查询</button>
						<button class="btn btn-default btnqry" id='clearBtn'>清空</button>
					</div>
				</div>	
			</div>
		</div>	
		
		<div class="" style="margin-bottom: 15px;">
			<button class="subBtn" ng-click="submit()"   style="padding: 5px 25px;">提交</button>
			<button class="fpBtn"  ng-click="ruleFJ()"   style="padding: 5px 25px;">分解</button>
		</div>
		<div class="row">	
			<div class="col-xs-12">
				<div class="contant" style="text-align: center">
					<!--表格数据 -->
					<div class="box_credit"  style="padding: 15px;background: #fff;overflow: auto;">
						<table class="table table-bordered table-striped" style="text-align: center;">
							<tbody>
								<tr style="font-weight:bolder ;">
									<td >选择</td>
									<td >生产任务单号</td>
									<td>项目号</td>
									<td >承接内容</td>
									<td>具体要求</td>
									<td>节点类型</td>
									<td>生产制号</td>
									<td>提交状态</td>
									
								</tr>
								<tr ng-repeat="list in listData" >
									<td>
										<input type="radio" name="radio" data="{{list}}" value="" />
									</td>
									<td style="vertical-align: middle;" class="xqtd"  ng-click="InfoView(list)">{{list.SHENGCHANNM}}</td>
									<td style="vertical-align: middle;">{{list.XIANGMU}}</td>
									<td style="vertical-align: middle;">{{list.CHENGJIE}}</td>
									<td style="vertical-align: middle;">{{list.YAOQIU}}</td>
									<td style="vertical-align: middle;">{{list.JIEDIAN}}</td>
									<td style="vertical-align: middle;">{{list.ZHIHAO}}</td>
									<td style="vertical-align: middle;">{{list.TIJIAO}}</td>
									
								</tr>
							</tbody>
						</table>
						<div id="divT"  class="page_div"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</section>

<!--详细信息弹框-->
<div class="InfoView" style="display:none;margin: 15px;">
	<div style="overflow: hidden;">
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6" for="dataname">
					编号：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.bH}}
          </div>
		</div>
		
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					配套项目：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
				{{detailInfo.ptPro}}              
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					任务名称：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.ruleName}}
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					投产数量：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.tcNumber}}
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					配套组成表：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.ptZc}}
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					任务编号：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.ruleNum}}
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					是否军检：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.isJJ}}
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					申请单位：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.sqDw}}
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					联系人及电话：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.UsTel}}
          	</div>
		</div>
		<div class="col-xs-6 col-md-6 col-lg-6 ">
			<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
				<label class="pt6">
					承制协议号：
				</label>
			</div>
			<div class="form-span col-xs-8 col-md-8 col-lg-8 p0 tl">
               {{detailInfo.UsTel}}
          	</div>
		</div>
	</div>
	<div class="qrycontant">
		<div  style="margin-top:15px;">
			<table class="table table-bordered table-striped" style="text-align: center;">
				<tbody>
					<tr style="font-weight:bolder ;">
						<td >ID</td>
						<td >承接内容</td>
						<td>具体要求</td>
						<td>完成时间</td>
						<td>节点类型</td>
						<td>生产制号</td>
						<td>责任部门</td>
						<td>人</td>
					</tr>
					<tr>
						<td style="vertical-align: middle;">{{$index+1}}</td>
						<td style="vertical-align: middle;">{{detailInfo.content}}</td>
						<td style="vertical-align: middle;">{{detailInfo.jtyq}}</td>
						<td style="vertical-align: middle;">{{detailInfo.time}}</td>
						<td style="vertical-align: middle;">{{detailInfo.type}}</td>
						<td style="vertical-align: middle;">{{detailInfo.scNum}}</td>
						<td style="vertical-align: middle;">{{detailInfo.zrBm}}</td>
						<td style="vertical-align: middle;">{{detailInfo.zrBm}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>


<!--分解弹框页面-->
<div id="ruleFJView" style="display: none;padding: 10px;">
	<div class="" style="margin-bottom: 15px;">
		<button class="xqBtn" id="addBtn" style="padding: 5px 25px;">添加</button>
		<button class='bjBtn' ng-click="editorNm()"     style="padding: 5px 25px;">修改</button>
		<button class='delBtn'  ng-click="delectNm()" style="padding: 5px 25px;">删除</button>
		<button class='fpBtn' ng-click="DODR()"   style="padding: 5px 25px;">导入</button>
		<button class='fpBtn' ng-click="DODC()"   style="padding: 5px 25px;">导出</button>
	</div>
	<table id="example" class="table table-bordered table-striped" style="text-align: center;">
		<tbody>
			<tr style="font-weight:bolder ;">
				<td>操作</td>
				<td>序号</td>
				<td>零件名称</td>
				<td>图号</td>
				<td>交付数量</td>
				<td>投产数量</td>
				<td>制号</td>
				<td>完成时间</td>
				<td>投产分类</td>
				
			</tr>
			<tr ng-repeat="list in addDetailList">
				<td>
					<input type="radio" name="radio" data="{{list}}" value="" />
				</td>
				<td>{{list.xuhao}}</td>
				<td>{{list.lingjian}}</td>
				<td style="color: #22BEEF;text-decoration: underline;cursor: pointer;" ng-click="showGX()">{{list.tuhao}}</td>
				<td>{{list.shuliang}}</td>
				<td>{{list.shuliang}}</td>
				<td>{{list.zhihao}}</td>
				<td>{{list.wcTime}}</td>
				<td>{{list.sttcType}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!--分解页添加弹框-->
<div id="addView" style="display:none;">
	<form class="cmxform" id="commentForm" method="get" style="margin-top: 20px;">
		 <fieldset>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6" for="dataname">
						序号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input class="inputSty" id="xuhao" type="text" placeholder="请输入序号"/>
	          </div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						零件名称：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="lingjian" class="inputSty"  type="text" placeholder="请输入零件名称" />
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						图号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="tuhao" class="inputSty"  type="text" placeholder="请输入图号" />
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						交付数量：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="shuliang" class="inputSty"   placeholder="请输入数量"   maxlength="50" />
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						投产数量：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="shuliang" class="inputSty"   placeholder="请输入数量"   maxlength="50" />
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						制号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="zhihao" class="inputSty"   value="{{zhihaoNum}}"  readonly="readonly"/>
	          	</div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						完成时间：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="wcTime" class="demo-input"  placeholder="请选择完成时间" readonly="true"/>
	          	</div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						投产分类：
					</label>
				</div>
	          	<div class="col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <select class="form-control select2" id="TOUCHAN" style="width:300px">
	               		<option value="" selected="selected">请选择</option>
	               		<option value="00">整体外协</option>
	               		<option value="01">工序外协</option>
	               		<option value="02">自制</option>
	               </select>
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12"  id="CHANGSHANG" style="display: none;margin-top: 15px;">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						厂商选择：
					</label>
				</div>
	          	<div class="col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <select class="form-control select2" id="CSSELECT" style="width:300px">
	               		<option value="" selected="selected">请选择</option>
	               		<option value="00">甲方厂商</option>
	               		<option value="01">乙方厂商</option>
	               		<option value="02">某某厂商</option>
	               </select>
	          	</div>
			</div>
		 </fieldset>
	</form>
</div>



<!--分解页修改弹框-->
<div id="editorView" style="display:none;">
	<form class="cmxform" method="get" style="margin-top: 20px;">
		 <fieldset>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6" for="dataname">
						序号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="xuhao_editor" value="{{editorlist.xuhao}}" ng-model="editorlist.xuhao"/>
	          </div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						零件名称：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="lingjian_editor" value="{{editorlist.lingjian}}" ng-model="editorlist.lingjian"/>
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						图号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="tuhao_editor"value="{{editorlist.tuhao}}" ng-model="editorlist.tuhao"/>
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						数量：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="shuliang_editor" value="{{editorlist.shuliang}}" ng-model="editorlist.shuliang"/>
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						材料：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="cailiao_editor" value="{{editorlist.cailiao}}" ng-model="editorlist.cailiao"/>
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						制号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="zhihao_editor" value="{{editorlist.zhihao}}" ng-model="editorlist.zhihao"/>
	          	</div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						完成时间：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="wcTime_editor" class="demo-input"  placeholder="请选择完成时间" readonly="true"/>
	          	</div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						投产分类：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <select class="form-control sttcType_editor" style="width:300px;"></select>
	          	</div>
			</div>
		 </fieldset>
	</form>
</div>



<!--工序 弹框页面-->
<div class=""  id="GXView" style="display:none;">
	<div  style="margin: 15px;">
		<div class="" style="margin-bottom: 15px;">
			<button class="addBtn" ng-click="GXTJ()" style="padding: 5px 25px;">添加</button>
			<button class='bjBtn' ng-click="GXBJ()"     style="padding: 5px 25px;">修改</button>
			<button class='delBtn'  ng-click="GXSC()" style="padding: 5px 25px;">删除</button>
			<button class='fpBtn' ng-click="GXDR()"   style="padding: 5px 25px;">导入</button>
		</div>
		<table class="table table-bordered table-striped" style="text-align: center;">
			<tbody>
				<tr style="font-weight:bolder ;">
					<td >选择</td>
					<td >工序号</td>
					<td>工序</td>
					<td>工时</td>
					<td>单价</td>
					
				</tr>
				<tr ng-repeat="list in GXList" >
					<td>
						<input type="radio" name="gongxu" data="{{list}}" value="" />
					</td>
					<td style="vertical-align: middle;">{{list.gongxuhao}}</td>
					<td style="vertical-align: middle;">{{list.gongxu}}</td>
					<td style="vertical-align: middle;">{{list.gongshi}}</td>
					<td style="vertical-align: middle;">{{list.danjia}}</td>
					
				</tr> 
			</tbody>
		</table>
	</div>	
</div>

<!--工序添加页面-->
<div id="addGXView" style="display:none;">
	<form class="cmxform" id="commentForm" method="get" style="margin-top: 20px;">
		 <fieldset>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6" for="dataname">
						工序号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input class="inputSty" id="gongxuhao" type="text" placeholder="请输入工序号"/>
	          </div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						工序：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="gongxu" class="inputSty"  type="text" placeholder="请输入工序" />
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						工时：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="gongshi" class="inputSty"  type="text" placeholder="请输入工时" />
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						单价：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input id="danjia" class="inputSty"   placeholder="请输入单价"   maxlength="50" />
	          	</div>
			</div>
		 </fieldset>
	</form>
</div>


<!--工序修改页面-->
<div id="GXEDTView" style="display:none;">
	<form class="cmxform" id="commentForm" method="get" style="margin-top: 20px;">
		 <fieldset>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6" for="dataname">
						工序号：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input class="gongxuhao" value="{{editorInfo.gongxuhao}}" ng-model="editorInfo.gongxuhao"/>
	          </div>
			</div>
			
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						工序：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input class="gongxu"value="{{editorInfo.gongxu}}" ng-model="editorInfo.gongxu"/>
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						工时：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input class="gongshi" value="{{editorInfo.gongshi}}" ng-model="editorInfo.gongshi"/>
	          	</div>
			</div>
			<div class="col-xs-12 col-md-12 col-lg-12 ">
				<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
					<label class="pt6">
						单价：
					</label>
				</div>
				<div class="form-group col-xs-8 col-md-8 col-lg-8 p0 tl">
	               <input class="danjia inputSty" value="{{editorInfo.danjia}}" ng-model="editorInfo.danjia"/>
	          	</div>
			</div>
		 </fieldset>
	</form>
</div>



<!--保存弹框-->
<div class="savesucess" id="savesucess" style="display: none;">
	<p style="padding: 10px;">保存成功</p>
</div>








