<section class="content" style="padding-top:0px">
	<h3 class="shouye">
	  	<span class="glyphicon glyphicon-home"></span> 
		您当前位置：
		<span style="color:#22BEEF;">计划跟踪</span>
	</h3>
	<div class="row">
		<div class="tab_data" style="">
			<p>
				<img src="dist/img/qry.png" style="margin-right: 5px;position: relative;bottom: 2px;"/>
				<b style="font-size:15px;">查询</b>
			</p>
			<div class="tab_body" style="overflow: hidden;text-align: center;">
				<div class="col-xs-4 col-md-4 col-lg-4 mb10">
					<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
						<label class="pt6">
							任务名称：
						</label>
					</div>
					<input id="rulename" class="col-xs-8 col-md-8 col-lg-8  inputSty"  type="text"  placeholder="请输入任务名称"   maxlength="88"/>
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4 mb10">
					<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
						<label class="pt6">
							任务编号：
						</label>
					</div>
					<input id="ruleNum" class="col-xs-8 col-md-8 col-lg-8  inputSty"  type="text"  placeholder="请输入任务编号"  maxlength="58"/>
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4 mb10">
					<div class="col-xs-4 col-md-4 col-lg-4  p0 tr">
						<label class="pt6">
							申请单位：
						</label>
					</div>
					<input id="sqdw" class="col-xs-8 col-md-8 col-lg-8  inputSty"  type="text"  placeholder="请输入申请单位"/>
				</div>
				<div class=" col-xs-12 col-md-12 col-lg-12" >
					<button class="btn btn-info    btnqry"    id='queryBtn'>查询</button>
					<button class="btn btn-default btnqry" id='clearBtn'>清空</button>
				</div>
			</div>	
		</div>
	</div>
	<div class="" style="margin-bottom: 15px;">
		<button class="xqBtn" ng-click="QUEREN()"  id="addBtn" style="padding: 5px 25px;">确认</button>
		<button class="fpBtn" ng-click="JIANYAN()" style="padding: 5px 25px;">检验</button>
	</div>
	<div class="row">	
		<div class="col-xs-12">
			<div class="contant" style="text-align: center">
				<!--表格数据 -->
				<div class="box_credit"  style="padding: 15px;background: #fff;overflow: auto;">
					<table id="example" class="table table-bordered table-striped" style="text-align: center;">
						<tbody>
							<tr style="font-weight:bolder ;">
								<td>选择</td>
								<td>自制件</td>
								<td>制号</td>
								<td>零件名称</td>
								<td>图号</td>
							</tr>
							<tr ng-repeat="list in listData">
								<td>
									<input type="radio" name="radio" data="{{list}}" value="" />
								</td>
								<td>{{list.LINGJIAN}}</td>
								<td class="xqtd"  ng-click="ZHIHAO(list.ruleNum)">{{list.ZHIHAO}}</td>
								<td>{{list.LINGJIAN}}</td> 
								<td class="xqtd"  ng-click="showGX(list.ruleNum)">{{list.TUHAO}}</td>
							</tr>
						</tbody>
					</table>
					<div id="divT"  class="page_div"></div>
				</div>	
			</div>
		</div>
	</div>
</section>
<!--制号列表弹框-->
<div class="ZHIHAOLIST" style="display: none;margin: 15px;">
	<table id="example" class="table table-bordered table-striped" style="text-align: center;">
		<tbody>
			<tr style="font-weight:bolder ;">
				<td>序号</td>
				<td>零件名称</td>
				<td>图号</td>
				<td>数量</td>
				<td>材料</td>
				<td>制号</td>
				<td>完成时间</td>
				<td>投产分类</td>
				
			</tr>
			<tr ng-repeat="list in ZHIHAOList">
				
				<td>{{list.XUHAO}}</td>
				<td>{{list.LINGJIAN}}</td>
				<td class="xqtd" ng-click="showGX(list.bH)">{{list.TUHAO}}</td>
				<td>{{list.SHULIANG}}</td>
				<td>{{list.CAILIAO}}</td>
				<td>{{list.ZHIHAO}}</td>
				<td>{{list.TIME}}</td>
				<td>{{list.TOUCHAN}}</td>
			</tr>
		</tbody>
	</table>
	<div id="divT_FJList"  class="page_div"></div>
</div>

<!--工序列表-->
<div class="GXView" style="display: none;margin: 15px;">
	
	<table class="table table-bordered table-striped" style="text-align: center;">
		<tbody>
			<tr style="font-weight:bolder ;">
				<td >工序号</td>
				<td>工序名称</td>
				<td>工序内容及附图</td>
				<td>设备及工艺装备</td>
				<td>操作者</td>
				<td>工时单件</td>
				<td>工时合计</td>
				<td>检验</td>
			</tr>
			<tr ng-repeat="list in GXList" >
				<td style="vertical-align: middle;">{{list.Nm}}</td>
				<td style="vertical-align: middle;">{{list.gx}}</td>
				<td style="vertical-align: middle;">{{list.GXNR}}</td>
				<td style="vertical-align: middle;">{{list.GXZB}}</td>
				<td style="vertical-align: middle;">{{list.CZZ}}</td>
				<td style="vertical-align: middle;">{{list.price}}</td>
				<td style="vertical-align: middle;">{{list.total}}</td>
				<td style="vertical-align: middle;">{{list.JY}}</td>
			</tr> 
		</tbody>
	</table>
	<div id="divT_GXList"  class="page_div"></div>
</div>




